/* snappy scrolling */
body{
    padding: 0;
    margin: 0;
    font-family: raleway;
}

.outer-nav{
    position: fixed;
    top: 50%;
    right: 2%;
    /* left: 0; */
    transform: translateY(-70%);
    margin: 0;
    padding: 0;
    z-index: 10;
    animation: FadeIn 4.2s linear;
}

.outer-nav li {
    list-style: none;
}

.outer-nav li a{
    display: block;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    color: #feffff;
    /* background: #fff; */
    /* width: 140px; */
    /* margin: 4px 0;
    margin-left: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px; */
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 1px;
}
.outer-nav li a:link{
    color: #feffff;
}
.outer-nav li a:hover{
    color: #262626;
    /* color: #fff; */
}

.outer-nav li a:active{
    color: #111;
}

@media (max-width:905px){
    .outer-nav{
        visibility: hidden;
    }
}

#main-container {
    width: 100%;
    height: 100vh;
    /* scroll-behavior: smooth; */
    /* overflow-y: scroll; */
}

.fullpage{
    position: relative;
    width: 100%;
    height: 100%;
}
.fullpage-scroll{

}

#main-container div#red{
    /* background-color: red; */
}

#main-container div#green{
    /* background: #00d2ff; 
    background: -webkit-linear-gradient(45deg, #00d2ff, #3a7bd5); 
    background: linear-gradient(45deg, #00d2ff, #3a7bd5);
     */

     /* background-color: #FD940A; 
     background-image: url('aboutus.jpg'); 
     background-size: cover;
    background-position: center; */
    /* background-color: #FD940A;  */
	background-image: linear-gradient(to bottom, #F9A72B 0%, #FA9026 70%, #FB6C1F 100%); 
	background-size: cover;
}

#main-container div#blue{
    /* background-color: blue; */
}

#main-container div#yellow{
    background: #7d35ef; /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #7d35ef, #f507c0); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #7d35ef, #f507c0);
}

#main-container div#steeleblue{
    /* background: #333;  */
    /* background: -webkit-linear-gradient(45deg, #333, #343434);
    background: linear-gradient(45deg, #333, #343434); */

    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(45deg, #333, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(45deg, #333, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#main-container div #wrapper{
    /* position: absolute;
    width: 100%;
    margin: 0;
    padding: 0; */
}

/* snappy scroll ends here */

/* custom scroll bar */
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background: #D3D3D3;
    border-radius: 3px;
}

/* custom scroll bar ends here */

/* ///////// setting keyframe on outer navbar */

@-webkit-keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes FadeIn {
	0% {
		opacity: 0;
	  }
	  50%{
		  opacity: 0;
	  }
	  100% {
		opacity: 1;
	  }
  }
/* /////////////////////////// */

/* //SOCIAL MEDIA LINKS */
.social-media{
    position: fixed;
    bottom: 3%;
    left: 1.5%;
    z-index: 10;
    list-style: none;
    animation: FadeIn 4.2s linear;
}
.social-media li {
    display: inline-flex;
    border: 2px solid white;
    border-radius: 100px;
    padding: 8px;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 4px;
    transition: all .2s;
}

.social-media li a{
    color: white;
    text-decoration: none;
}

.social-media li:hover{
    transform: scale(1.06); 
    cursor: pointer;
}

/* //SOCIAL MEDIA LINKS ENDS */

/* ////////////////NEON */
/* .synapse__name {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    color: #fff;
    font-family: Monoton;
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  @-webkit-keyframes neon1 {
    from {
       text-shadow: 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 90px #fff, 0 0 110px #fff, 0 0 160px #fff; 
      text-shadow: 0 0 40px #fff ;
    }
    to {
      text-shadow: 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 45px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 85px #fff;
    }
  } */