.sidebar{
    position: fixed;
    top:0;
    left: -30%;
    width: 30%;
    height: 100%;
    background-color: rgba(1,1,1,0.70);
    z-index: 20;
    transition: 0.5s;
}

.sidebar.sidebar_active{
    left: 0;
}
.toggle{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: -40px;
    /* width: 40px;
    height: 40px;
    background: #FFDB5E; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 40px; */
    animation: FadeIn 4.2s linear;
}

.toggle::before{
    content: '';
    position: relative;
    left: 0;
    width: 15px;
    height: 15px;
    border-top: 2px solid #feffff; 
    border-right: 2px solid #feffff; 
    transform: rotate(45deg);
    transition: 0.5s;
}

.sidebar.sidebar_active .toggle::before{
    transform: rotate(225deg);
    left: 10px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    padding: 60px;
    transform: translateX(-100%);
}
.sidebar.sidebar.sidebar_active ul {
    transform: translateX(0);
    transition-delay: 0.2s;
}
.sidebar ul li {
    list-style: none;
    padding: 20px 0;
}
.sidebar ul li a {
    position: relative;
    display: inline-block;
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding: 0 20px;
    z-index: 30;
    transition: 0.5s;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.sidebar ul li a:hover{
    letter-spacing: 5px;
    transform: translateX(15px);
}
.sidebar ul li a::before{
    content: '';
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 30%;
    background-color: #d73313;
    z-index: 25;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.sidebar ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}

@media (max-width: 1045px){
    .sidebar{
        left: -40%;
        width: 40%;
    }
    .sidebar ul {
        padding: 40px;
    }
}

@media (max-width: 700px){
    .sidebar{
        left: -50%;
        width: 50%;
    }
    .sidebar ul {
        padding: 30px;
    }
    .sidebar ul li a{
        font-size: 25px;
    }
}
@media (max-width: 520px){
    .sidebar{
        left: -75%;
        width: 75%;
    }
    .sidebar ul {
        padding: 30px;
    }
    .toggle{
        top: 33%;
        transform: translateY(-50%);
        right: -30px;
        /* width: 30px;
        height: 30px; */
    }
    .sidebar ul li a{
        font-size: 20px;
    }
    .sidebar ul li a:hover{
        letter-spacing: 3px;
    }
}

/* ///////// setting keyframe on navbar arrow */

@-webkit-keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	50%{
		opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes FadeIn {
	0% {
		opacity: 0;
	  }
	  50%{
		  opacity: 0;
	  }
	  100% {
		opacity: 1;
	  }
  }
/* /////////////////////////// */