@import url('https://themes.googleusercontent.com/fonts/css?kit=yrPxF2fzIbKO47OcVFfZ2CvhBULzVSj67-CyYQmQBzclLT34rKZNjX_x5wwcqB1FJcp4QFgPPqKvq4Bp_6u4rQ');
.lst-kix_3odm3jbivbzb-1>li:before {
	content: "\0025cb  "
}

.lst-kix_3odm3jbivbzb-0>li:before {
	content: "\0025cf  "
}

.lst-kix_awadagzbjaie-0>li:before {
	content: "\0025cf  "
}

.lst-kix_249kg63wbkv2-3>li:before {
	content: "\0025cf  "
}

.lst-kix_3odm3jbivbzb-4>li:before {
	content: "\0025cb  "
}

.lst-kix_3odm3jbivbzb-6>li:before {
	content: "\0025cf  "
}

.lst-kix_249kg63wbkv2-1>li:before {
	content: "\0025cb  "
}

.lst-kix_249kg63wbkv2-2>li:before {
	content: "\0025a0  "
}

.lst-kix_awadagzbjaie-1>li:before {
	content: "\0025cb  "
}

.lst-kix_3odm3jbivbzb-5>li:before {
	content: "\0025a0  "
}

.lst-kix_249kg63wbkv2-0>li:before {
	content: "\0025cf  "
}

.lst-kix_3odm3jbivbzb-2>li:before {
	content: "\0025a0  "
}

.lst-kix_3odm3jbivbzb-3>li:before {
	content: "\0025cf  "
}

.lst-kix_3odm3jbivbzb-8>li:before {
	content: "\0025a0  "
}

.lst-kix_3odm3jbivbzb-7>li:before {
	content: "\0025cb  "
}

.lst-kix_249kg63wbkv2-4>li:before {
	content: "\0025cb  "
}

.lst-kix_249kg63wbkv2-5>li:before {
	content: "\0025a0  "
}

.lst-kix_249kg63wbkv2-6>li:before {
	content: "\0025cf  "
}

.lst-kix_249kg63wbkv2-7>li:before {
	content: "\0025cb  "
}

.lst-kix_249kg63wbkv2-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_249kg63wbkv2-3 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-4 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-1 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-2 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-0 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-6 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-5 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-4 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-3 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-2 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-7 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-1 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-8 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-0 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-5 {
	list-style-type: none
}

ul.lst-kix_249kg63wbkv2-6 {
	list-style-type: none
}

.lst-kix_awadagzbjaie-8>li:before {
	content: "\0025a0  "
}

ul.lst-kix_3odm3jbivbzb-0 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-1 {
	list-style-type: none
}

.lst-kix_awadagzbjaie-5>li:before {
	content: "\0025a0  "
}

.lst-kix_awadagzbjaie-4>li:before {
	content: "\0025cb  "
}

ul.lst-kix_3odm3jbivbzb-8 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-6 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-7 {
	list-style-type: none
}

.lst-kix_awadagzbjaie-2>li:before {
	content: "\0025a0  "
}

ul.lst-kix_3odm3jbivbzb-4 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-5 {
	list-style-type: none
}

.lst-kix_awadagzbjaie-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_awadagzbjaie-8 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-2 {
	list-style-type: none
}

ul.lst-kix_awadagzbjaie-7 {
	list-style-type: none
}

ul.lst-kix_3odm3jbivbzb-3 {
	list-style-type: none
}

.lst-kix_awadagzbjaie-6>li:before {
	content: "\0025cf  "
}

.lst-kix_awadagzbjaie-7>li:before {
	content: "\0025cb  "
}

ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c5 {
	-webkit-text-decoration-skip: none;
	color: #666666;
	font-weight: 400;
	text-decoration: underline;
	vertical-align: baseline;
	text-decoration-skip-ink: none;
	font-size: 12pt;
	font-family: "Trebuchet MS";
	font-style: normal
}

.c3 {
	margin-left: 72pt;
	padding-top: 10pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c4 {
	margin-left: 36pt;
	padding-top: 10pt;
	padding-left: 0pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c21 {
	margin-left: 3.8pt;
	padding-top: 6pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c19 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 16pt;
	font-family: "Open Sans";
	font-style: normal
}

.c7 {
	color: #8c7252;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 12pt;
	font-family: "Open Sans";
	font-style: normal
}

.c22 {
	padding-top: 24pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left;
	margin-right: 89.2pt
}

.c6 {
	color: #999999;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 14pt;
	font-family: "Economica";
	font-style: normal
}

.c1 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Open Sans";
	font-style: normal
}

.c17 {
	color: #666666;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 14pt;
	font-family: "Economica";
	font-style: normal
}

.c11 {
	margin-left: -0.8pt;
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c2 {
	margin-left: -0.8pt;
	padding-top: 3pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c15 {
	padding-top: 0pt;
	text-indent: 0.8pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c20 {
	padding-top: 10pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c8 {
	margin-left: -0.8pt;
	padding-top: 8pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	page-break-after: avoid;
	text-align: left
}

.c16 {
	padding-top: 10pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c24 {
	padding-top: 30pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c10 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "Open Sans"
}

.c30 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 13pt;
	font-family: "Open Sans"
}

.c31 {
	-webkit-text-decoration-skip: none;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	font-size: 12pt
}

.c34 {
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Economica"
}

.c13 {
	background-color: #ffffff;
	max-width: 2000pt;
	/* padding: 20pt 20pt 20pt 20pt */
  padding-left: 5%;
  padding-right: 5%;

}

.c32 {
	color: #000000;
	font-size: 30pt
}

.c14 {
	font-weight: 400;
	font-style: italic
}

.c9 {
	font-weight: 700;
	font-style: italic
}

.c26 {
	font-weight: 700;
	font-style: normal
}

.c0 {
	padding: 0;
	margin: 0
}

.c28 {
	font-style: italic
}

.c29 {
	margin-left: 3.8pt
}

.c18 {
	margin-left: -0.8pt
}

.c23 {
	text-indent: 0.8pt
}

.c27 {
	font-weight: 700
}

.c12 {
	height: 11pt
}

.c33 {
	margin-left: 36pt
}

.c25 {
	height: 12pt
}

.title {
	padding-top: 0pt;
	color: #000000;
	font-size: 30pt;
	padding-bottom: 0pt;
	font-family: "Economica";
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	color: #999999;
	font-size: 14pt;
	padding-bottom: 0pt;
	font-family: "Economica";
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Open Sans"
}

p {
	margin: 0;
	color: #000000;
	font-size: 11pt;
	font-family: "Open Sans"
}

h1 {
	padding-top: 10pt;
	color: #000000;
	font-weight: 700;
	font-size: 16pt;
	padding-bottom: 0pt;
	font-family: "Open Sans";
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 24pt;
	color: #000000;
	font-weight: 700;
	font-size: 13pt;
	padding-bottom: 0pt;
	font-family: "Open Sans";
	line-height: 1.0;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 10pt;
	color: #8c7252;
	font-weight: 700;
	font-size: 12pt;
	padding-bottom: 0pt;
	font-family: "Open Sans";
	line-height: 1.5;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 8pt;
	-webkit-text-decoration-skip: none;
	color: #666666;
	text-decoration: underline;
	font-size: 12pt;
	padding-bottom: 0pt;
	line-height: 1.5;
	page-break-after: avoid;
	text-decoration-skip-ink: none;
	font-family: "Trebuchet MS";
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 8pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 0pt;
	font-family: "Trebuchet MS";
	line-height: 1.5;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 8pt;
	color: #666666;
	font-size: 11pt;
	padding-bottom: 0pt;
	font-family: "Trebuchet MS";
	line-height: 1.5;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}

.bodyoverlay{
  padding left:  10%;
  margin-right: 10%;
  margin-left: 15%;
}
.upline{

}
.downline{

}
/* .poster{
  background-image: url("images/image3.jpg");
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: contain;
  height: 50%;
  padding: 5%;
  padding-left: 0%;
  margin-top: 1%;
} */
